<div class="card card-loader" style="filter: blur(10px)">
	<div class="card-header">
		<%= render 'assessment_info', locals: { params: params } %>
	</div>

	<hr>

	<div class="card-body">
		<%= render 'assessment_form', locals: { params: params } %>
	</div>
</div>
<div id="editAssessmentPageCheck" style="display: none !important;"></div>
<div class="modal fade" id="modalSubmit" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<p>Are you sure you want to submit?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="submit_assessment">Yes</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modalPopup" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col mb-3">
						<textarea id="textarea_description" class="form-control" placeholder="Description"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="ok_button">Ok</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		const navbarHeight = $("#layout-navbar").outerHeight();
		var activePopupId = "";

		check = function (event) {
			let inputValue = event.target.value;
			if ((inputValue.split(".").length - 1) > 1){
				event.target.value = '';
			} else{
				if (/^\d{1,2}(\.\d{1,2})?(\.\d{0,2})?$/.test(inputValue) || inputValue === "") {
					return;
				}
				if (Number(inputValue) > 100.00) {
					event.target.value = '';
				} else if (Number(inputValue) === parseFloat(inputValue) && Number(inputValue) !== parseInt(inputValue)) {
					event.target.value = parseFloat(inputValue).toFixed(2);
				} else {
					event.target.value = (inputValue > 0) ? Number(inputValue) : '';
				}
			}
		}

		onPageLoad();

		let current_question = null; // initialize the current_question variable to null

		function saveAssessmentCheck(toDo) {
			var pageCheck = document.getElementById("editAssessmentPageCheck");
			if (pageCheck) {
				saveAssessment(toDo);
			}
		}

		const autoSaveInterval = setInterval(function () {
			saveAssessmentCheck('fetchAnswer');
		}, 120000);

		$('#aspects-list a').on('click', function (e) {
			saveAssessmentCheck('fetchAnswer');
		});

		function fetchAspectAnswers() {
			var aspectName = $("#aspects-list a.active").attr('data-column');
			if (aspectName) {
				var categoryId = $("#aspects-list a.active").attr('href').match(/\d+/)[0];
				$.ajax({
					type: "GET",
					url: "/analyst/assessment/<%= params[:company_user_id] %>/fetch_assessment?&aspect_name=" + aspectName +"&categoryId=" + categoryId,
					success: function (response) {
						let aspect_data = response.aspect_data;
						let attachmentHtml = response.attachments;
						$('.category'+categoryId+'files').html(attachmentHtml);
						if (!$.isEmptyObject(aspect_data)) {
							if (current_question) {
								let currentQuestionInputs = {};
								$("#" + current_question + " :input").each(function () {
									let fieldName = $(this).attr('name');
									let fieldValue = $(this).val();
									currentQuestionInputs[fieldName] = fieldValue;
								});
								for (let key in currentQuestionInputs) {
									if (aspect_data.hasOwnProperty(key)) {
										delete aspect_data[key];
									}
								}
							}

							$.each(aspect_data, function (key, value) {
								var $input = $('input[name="' + key + '"]');
								if ($input.is(':checkbox')) {
									if(value !== ""){
										$input.prop('checked', true);
									}
								} else if ($input.is(':radio')) {
									if(value !== "") {
										$('input[name="' + key + '"][value="' + value + '"]').prop('checked', true);
									}
								} else if ($('[name="'+key+'"]').is('textarea')) {
									if(value !== "") {
										$('textarea[name="' + key + '"]').val(value);
									}
								} else {
									$input.val(value);
								}
							});
							onPageLoad("modal-false");
						}
					},
					error: function (error) {
						console.log(error);
					},
					cache: false,
					contentType: false,
					processData: false
				});
			}
		}


		document.querySelectorAll('.answerChangeCheck').forEach((questionDiv) => {
			questionDiv.addEventListener('click', () => {
				const clicked_question = questionDiv.id;
				if (clicked_question !== current_question) {
					if (current_question !== null) {
						saveAssessmentCheck('fetchAnswer');
					}
					current_question = clicked_question;
				}
			});
		});

		$("input[type=radio], input[type=checkbox]").change(function () {
			if($(this).is(':checked')) {
				$("." + this.name).addClass("d-none");

				if($(this).attr('title')) {
					$("#" + this.title).removeClass("d-none");
				}
			} else {
				$("." + this.name).addClass("d-none");
			}
		});

		$(".text-popup").focus(function() {
			$('#modalPopup').modal('show');
			$("#textarea_description").val(this.value);

			activePopupId = this.id;
		});

		$("#ok_button").click(function() {
			$("#" + activePopupId).val($("#textarea_description").val());
			$("#textarea_description").val("");
			$('#modalPopup').modal('hide');
		});

		$(".choice").click(function () {
			let tabId = $(this).closest('.tab-pane').attr("id");
			let inputName = [];
			let checkCount = 0;

			$("#" + tabId).find('.choice').each(function () {
				if((!inputName.includes($(this).attr("name")) && ($(this).attr("type") == 'radio'))) {
					inputName.push($(this).attr("name"));
				}
			});

			for(let i = 0; i < inputName.length; i++) {
				if($('input[name=' + inputName[i] + ']:checked').length == 0) {
					checkCount += 1;
				}
			}

			tabId = '#' + tabId;
			$("a[href$= '" + tabId + "'] span").text(checkCount);

			if(checkCount == 0) {
				$("a[href$= '" + tabId + "'] span").removeClass("bg-danger");
				$("a[href$= '" + tabId + "'] span").addClass("bg-success");
				$("a[href$= '" + tabId + "'] span").text(inputName.length);
			}

			submitButtonEnabledDisabled();
		});

		$(".previous").click(function(event) {
			event.preventDefault();

			let previousId;

			$("#aspects-list a").each(function(e) {
				if($(this).hasClass("active")) {
					previousId = $(this).prev().attr('id');
				}
			});

			$("#" + previousId)[0].click();

			window.scrollTo({ top: navbarHeight, behavior: 'smooth' });
		});

		$(".next").click(function(event) {
			event.preventDefault();

			let nextId;

			$("#aspects-list a").each(function(e) {
				if($(this).hasClass("active")) {
					nextId = $(this).next().attr('id');
				}
			});

			$("#" + nextId)[0].click();

			window.scrollTo({ top: navbarHeight, behavior: 'smooth' });
		});

		$(".list-group-item-action").click(function() {
			showHidePreviousNextButton();
			window.scrollTo({ top: navbarHeight, behavior: 'smooth' });
		});

		$('.multiple-file').change(function () {
			let aspectId = this.id;
			let categoryId = aspectId.match(/(\d+)/)[0];
			let formData = new FormData();

			formData.append('category_id', categoryId);

			for (let index = 0; index < this.files.length; index++) {
				let uniqueId = `${aspectId}-${index}`;
				let fileSrc = "";
				let fileName = this.files[index].name;
				let fileType = this.files[index].type.split("/")[0];
				let fileURL = URL.createObjectURL(this.files[index]);

				formData.append("files[]", this.files[index]);

				if (fileType == "image") {
					fileSrc = "/assets/image.png";
				} else if (fileType == "video") {
					fileSrc = "/assets/video.png";
				} else {
					fileSrc = "/assets/file.png";
				}

				$('.' + aspectId).append("<div class='col-md-3'><button type='button' class='btn-close file-remove' id='" + uniqueId + "' aria-label='Close' data-file='" + fileName + "'></button><a href='"+fileURL+"' download><img class='img-responsive img-thumbnail file-logo' src='" + fileSrc + "' title='" + fileName + "'></a><p>" + fileName + "</p></div>");
			}

			$('#' + aspectId).val("");
			addAttachments(formData);
		});

		function addAttachments(data) {
			$.ajax({
				type: "POST",
				url: "<%= analyst_add_attachments_path(params[:company_user_id]) %>",
				beforeSend: function (xhr) {
					xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
				},
				data: data,
				success: function () {
					toastr.success('File uploaded successfully');
				},
				error: function (error) {
					console.log(error);
				},
				cache: false,
				contentType: false,
				processData: false
			});
		}

		if (!$._data(document, 'events') || !$._data(document, 'events').click || !$._data(document, 'events').click.some(event => event.selector === '.file-remove')) {
			$(document).on('click', '.file-remove', function () {
				let $this = $(this);
				let aspectId = this.id.split("-")[0];
				let fileName = $(this).data("file");
				let formData = new FormData();
				formData.append('category_id', aspectId.match(/(\d+)/)[0]);
				formData.append('fileName', fileName);
				removeAttachment(formData, function (successMessage) {
					$this.parent().remove();
					toastr.success(successMessage);
				});
			});
		}

		function removeAttachment(formData, successCallback) {
			$.ajax({
				type: "POST",
				url: "<%= analyst_remove_attachment_path(params[:company_user_id]) %>",
				beforeSend: function (xhr) {
					xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
				},
				data: formData,
				success: function () {
					successCallback('File deleted successfully');
				},
				error: function (error) {
					console.log(error);
				},
				cache: false,
				contentType: false,
				processData: false
			});
		}

		$(".update_assessment").click(function (event) {
			event.preventDefault();
			saveAssessmentCheck('alert');
		});

		$("#submit_assessment").click(function (event) {
			event.preventDefault();

			$("#assessment_form .d-none").remove();

			saveAssessmentCheck('submit');
		});

		function onPageLoad() {
			$("input[type=radio]:checked, input[type=checkbox]:checked").each(function() {
				$("." + this.name).addClass("d-none");

				if($(this).attr('title')) {
					$("#" + this.title).removeClass("d-none");
				}
			});

			loadAnswerCount();
			submitButtonEnabledDisabled();
			showHidePreviousNextButton();
		}

		function loadAnswerCount() {
			$(".choice").each(function () {
				let tabId = $(this).closest('.tab-pane').attr("id");
				let inputName = [];
				let checkCount = 0;

				$("#" + tabId).find('.choice').each(function () {
					if((!inputName.includes($(this).attr("name")) && ($(this).attr("type") == 'radio'))) {
						inputName.push($(this).attr("name"));
					}
				});

				for(let i = 0; i < inputName.length; i++) {
					if($('input[name=' + inputName[i] + ']:checked').length == 0) {
						checkCount += 1;
					}
				}

				tabId = '#' + tabId;
				$("a[href$= '" + tabId + "'] span").text(checkCount);

				if(checkCount == 0) {
					$("a[href$= '" + tabId + "'] span").removeClass("bg-danger");
					$("a[href$= '" + tabId + "'] span").addClass("bg-success");
					$("a[href$= '" + tabId + "'] span").text(inputName.length);
				}
			});
		}

		function showHidePreviousNextButton() {
			let tabId = $('.list-group-item-action.active').attr("id");

			if(tabId == "faq-list") {
				$(".previous").css({display: 'none'});
				$(".next").css({display: 'none'});
			} else {
				$(".previous").css({display: 'block'});
				$(".next").css({display: 'block'});

				if(tabId == "0-list") {
					$(".previous").attr('disabled', 'disabled');
					$(".next").removeAttr('disabled');
				} else if(tabId == "11-list") {
					$(".previous").removeAttr('disabled');
					$(".next").attr('disabled', 'disabled');
				} else {
					$(".previous").removeAttr('disabled');
					$(".next").removeAttr('disabled');
				}
			}
		}

		function submitButtonEnabledDisabled() {
			let inputName = [];
			let checkCount = 0;

			$("#assessment_form").find('.choice').each(function () {
				if((!inputName.includes($(this).attr("name")) && ($(this).attr("type") == 'radio'))) {
					inputName.push($(this).attr("name"));
				}
			});

			for(let i = 0; i < inputName.length; i++) {
				$("input[name=" + inputName[i] + "]:checked").each(function() {
					checkCount += 1;
				});
			}

			if(checkCount == inputName.length) {
				$(".submit_assessment").removeAttr('disabled');
			} else {
				$(".submit_assessment").attr('disabled','disabled');
			}
		}

		function saveAssessment(toDo) {
			if (current_question) {
				var aspectName = $("#" + current_question).parent().attr("data-column");
				// let userAnswers = Object.assign({}, ...($("#assessment_form").serializeArray()).map(item => ({ [item.name]: item.value })));
				// delete userAnswers.authenticity_token;
				let userAnswers = {};
				$("#" + current_question + " :input").each(function () {
					let fieldName = $(this).attr('name');
					let fieldType = $(this).attr('type');
					let fieldValue = "";
					if (fieldType === "checkbox") {
						if (this.checked) {
							fieldValue = $(this).val();
						} else {
							fieldValue = "";
						}
					} else if (fieldType === "radio") {
						if (this.checked) {
							fieldValue = $(this).val();
						} else {
							return;
						}
					} else {
						fieldValue = $(this).val() || "";
					}
					userAnswers[fieldName] = fieldValue;
				});

				let formData = new FormData();
				formData.append('user_answers', JSON.stringify(userAnswers));
				formData.append('aspect_name', aspectName);

				$.ajax({
					type: "PATCH",
					url: "/analyst/assessment/<%= params[:company_user_id] %>/update_assessment",
					data: formData,
					success: function () {
						if(toDo === "fetchAnswer"){
							fetchAspectAnswers();
						} else if(toDo === "alert"){
							toastr.success('Saved successfully');
							fetchAspectAnswers();
						} else if(toDo === "submit"){
							submitAssessment();
						}
					},
					error: function(xhr) {
						clearInterval(autoSaveInterval);
						toastr.error(xhr.responseJSON ? (xhr.responseJSON.error ? xhr.responseJSON.error : 'Something went wrong...') : 'Something went wrong...');
						setTimeout(function () {
							window.location.replace('<%= analyst_dashboard_path %>')
						}, 1000);
					},
					cache: false,
					contentType: false,
					processData: false
				});
			} else {
				if (toDo === 'submit') {
					submitAssessment();
				} else {
					fetchAspectAnswers();
				}
			}
		}

		function submitAssessment() {
			$.ajax({
				type: "PATCH",
				url: "/analyst/assessment/<%= params[:company_user_id] %>/submit_assessment",
				data: new FormData(),
				success: function () {
					clearInterval(autoSaveInterval);
				},
				error: function (error) {
					console.log(error);
				},
				cache: false,
				contentType: false,
				processData: false
			});
		}

	function submitBtnDisableCheck(){
		let submitBtnValue = 0;
		let validBoxHasValue = 0;
		let dNoneValue = 1;
		let dNoneCount = 0;
		let idSplit = ""
		$('.validation-box').each(function(){
			let validBoxId = $(this).attr("data-id");
			if (!$('#' + validBoxId).hasClass("d-none")) {
				idSplit = (validBoxId).split("-");
				if (idSplit.length > 4){
					idSplit = 'answer-'+ idSplit[1]+'-'+ idSplit[2]+'-'+ idSplit[3];
					if ($('#' + idSplit).hasClass("d-none")) {
						return false;
					}
				}
				dNoneValue = 0;
				dNoneCount += 1;
				$('.' + validBoxId + ' *').filter(':input').each(function () {
					let validOptType = $(this).attr("type");
					if (validOptType === "radio" || validOptType === "checkbox") {
						if ($(this).prop('checked') === true) {
							validBoxHasValue = 1;
							submitBtnValue = 1;
						} else {
							validBoxHasValue = 0;
							submitBtnValue = 0;
						}
					}
					if (validBoxHasValue === 1) {
						return false;
					}
				});
			} else {
				dNoneValue = 1;
			}
			if ((dNoneValue === 0) && (validBoxHasValue === 0)) {
				return false;
			}
		});
		if ((dNoneCount === 0) || (submitBtnValue === 1)){
			$('.submit_assessment').removeClass('disabled');
		} else {
			$('.submit_assessment').addClass('disabled');
		}
	}

	setInterval(function() {
		submitBtnDisableCheck()
	}, 1000);
	});
</script>
