<% content_for :title, "ESG Peer Benchmarking Assessment | Compare Sector Performance" %>
<% content_for :description, "Access the ESG Peer Benchmarking Assessment to evaluate your company's performance against peers in your sector. Get detailed results." %>
<div class="card">
  <div class="card-header">
    <%= render 'assessment_info', locals: { params: params } %>
  </div>
  <hr>
  <div class="card-body">
    <%= render 'peer_benchmark_assessment_form', locals: { params: params } %>
  </div>
</div>
<div class="modal fade d-none" id="clearConfirmationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to Clear this Data?<br> It will clear all the provided data!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmClearButton">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<div id="editAssessmentPageCheck" style="display: none !important;"></div>
<%= render 'peer_instructions' %>
<script>
  $(document).ready(function () {
  	const navbarHeight = $("#layout-navbar").outerHeight();
  	var activePopupId = "";

  	check = function (event) {
  		let inputValue = event.target.value;
  		if ((inputValue.split(".").length - 1) > 1){
  			event.target.value = '';
  		} else{
  			if (Number(inputValue) > 100.00) {
				event.target.value = '';
			}else {
				if (/^\d{1,5}(\.\d{1,5})?(\.\d{0,4})?$/.test(inputValue) || inputValue === "") {
					return;
				}
			}
  			if (Number(inputValue) > 100.00) {
  				event.target.value = '';
  			} else if (Number(inputValue) === parseFloat(inputValue) && Number(inputValue) !== parseInt(inputValue)) {
  				event.target.value = parseFloat(inputValue).toFixed(5);
  			} else {
  				event.target.value = (inputValue > 0) ? Number(inputValue) : '';
  			}
  		}
  	}

	$('input[type="text"]').on('keypress', function(event) {
        // Allow only numbers (0-9), backspace (8), delete (46), and arrow keys (37-40)
        if (event.which < 48 || event.which > 57) {
            if (![8, 46, 37, 39].includes(event.which)) {
                event.preventDefault();
            }
        }
    });
  	onPageLoad("modal-true");

  	let current_question = null; // initialize the current_question variable to null

  	function saveAssessmentCheck(toDo) {
  		var pageCheck = document.getElementById("editAssessmentPageCheck");
  		if (pageCheck) {
  			saveAssessment(toDo);
  		}
  	}

  	const autoSaveInterval = setInterval(function () {
  		saveAssessmentCheck('fetchAnswer');
  	}, 120000);

  	function fetchAspectAnswers() {
  			$.ajax({
  				type: "GET",
  				url: "/company_user/fetch_peerbenchmark_data",
  				success: function (response) {
  					let aspect_data = response.aspect_data;
  					if (!$.isEmptyObject(aspect_data)) {
  						if (current_question) {
  							let currentQuestionInputs = {};
  							$("#" + current_question + " :input").each(function () {
  								let fieldName = $(this).attr('name');
  								let fieldValue = $(this).val();
  								currentQuestionInputs[fieldName] = fieldValue;
  							});
  							for (let key in currentQuestionInputs) {
  								if (aspect_data.hasOwnProperty(key)) {
  									delete aspect_data[key];
  								}
  							}
  						}

  						$.each(aspect_data, function (key, value) {
  							var $input = $('input[name="' + key + '"]');
  							if ($input.is(':checkbox')) {
  								if(value !== ""){
  									$input.prop('checked', true);
  								}
  							} else if ($input.is(':radio')) {
  								if(value !== "") {
  									$('input[name="' + key + '"][value="' + value + '"]').prop('checked', true);
  								}
  							} else if ($('[name="'+key+'"]').is('textarea')) {
  								if(value !== "") {
  									$('textarea[name="' + key + '"]').val(value);
  								}
  							} else {
  								$input.val(value);
  							}
  						});
  						onPageLoad("modal-false");
  					}
  				},
  				error: function (error) {
  					console.log(error);
  				},
  				cache: false,
  				contentType: false,
  				processData: false
  			});
  	}

  	document.querySelectorAll('.answerChangeCheck').forEach((questionDiv) => {
  		questionDiv.addEventListener('click', () => {
  			const clicked_question = questionDiv.id;
  			if (clicked_question !== current_question) {
  				if (current_question !== null) {
  					saveAssessmentCheck('fetchAnswer');
  				}
  				current_question = clicked_question;
  			}
  		});
  	});

  	$("input[type=radio], input[type=checkbox]").change(function () {
  		if($(this).is(':checked')) {
  			$("." + this.name).addClass("d-none");

  			if($(this).attr('title')) {
				$("#" + this.title + ", ." + this.name + "checkbox").removeClass("d-none");
  			}
  		} else {
  			$("." + this.name).addClass("d-none");
  		}
  	});

  	// ============================================= Pagination block start =========================================
  	var currentPageOffset = 0; // Start from the first page
	var questionsPerPage = 10;
	var questionsCount = $('.form-group.col-md.mb-5.answerChangeCheck').length;
	var totalPages = Math.ceil(questionsCount / questionsPerPage);

	function disableOrEnablePrevBtn() {
		if (currentPageOffset <= 0) {
			$('.previous').prop('disabled', true);
		} else {
			$('.previous').prop('disabled', false);
		}
	}

	function disableOrEnableNextBtn() {
		if (currentPageOffset >= totalPages - 1) {
			$('.next').prop('disabled', true);
		} else {
			$('.next').prop('disabled', false);
		}
	}

	function hideOrShowQuestions() {
		var startIndex = currentPageOffset * questionsPerPage;
		var endIndex = Math.min(startIndex + questionsPerPage, questionsCount);
		$('.form-group.col-md.mb-5.answerChangeCheck').hide().slice(startIndex, endIndex).show();
		window.scrollTo({ top: 0, behavior: 'smooth' });
		disableOrEnablePrevBtn();
		disableOrEnableNextBtn();
	}

	hideOrShowQuestions();

	$(".previous").click(function(event) {
		event.preventDefault();
		currentPageOffset--;
		hideOrShowQuestions();
	});

	$(".next").click(function(event) {
		event.preventDefault();
		currentPageOffset++;
		hideOrShowQuestions();
	});

  	// ============================================= Pagination block end =========================================

  	$(".list-group-item-action").click(function() {
  		showHidePreviousNextButton();
  		window.scrollTo({ top: 0, behavior: 'smooth' });
  	});


  	if (!$._data(document, 'events') || !$._data(document, 'events').click || !$._data(document, 'events').click.some(event => event.selector === '.file-remove')) {
  		$(document).on('click', '.file-remove', function () {
  			let $this = $(this);
  			let aspectId = this.id.split("-")[0];
  			let fileName = $(this).data("file");
  			let formData = new FormData();
  			formData.append('category_id', aspectId.match(/(\d+)/)[0]);
  			formData.append('fileName', fileName);
  			removeAttachment(formData, function (successMessage) {
  				$this.parent().remove();
  				toastr.success(successMessage);
  			});
  		});
  	}

  	$(".save_assessment").click(function (event) {
  		event.preventDefault();
  		saveAssessmentCheck('alert');
  	});

  	$("#submit_assessment").click(function (event) {
  		event.preventDefault();

  		$("#assessment_form .d-none").remove();

  		saveAssessmentCheck('submit');
  	});

  	function onPageLoad(modelStatus) {
  		if(modelStatus === "modal-true"){
  			$("#instructionsModal").click();
  		}

  		$("input[type=radio]:checked, input[type=checkbox]:checked").each(function() {
  			$("." + this.name).addClass("d-none");

  			if($(this).attr('title')) {
				$("#" + this.title + ", ." + this.name + "checkbox").removeClass("d-none");
            }
  		});

  		loadAnswerCount();
  		submitButtonEnabledDisabled();
  		showHidePreviousNextButton();
  	}

  	function loadAnswerCount() {
  		$(".choice").each(function () {
  			let tabId = $(this).closest('.tab-pane').attr("id");
  			let inputName = [];
  			let checkCount = 0;

  			$("#" + tabId).find('.choice').each(function () {
  				if((!inputName.includes($(this).attr("name")) && ($(this).attr("type") == 'radio'))) {
  					inputName.push($(this).attr("name"));
  				}
  			});

  			for(let i = 0; i < inputName.length; i++) {
  				if($('input[name=' + inputName[i] + ']:checked').length == 0) {
  					checkCount += 1;
  				}
  			}

  			tabId = '#' + tabId;
  			$("a[href$= '" + tabId + "'] span").text(checkCount);

  			if(checkCount == 0) {
  				$("a[href$= '" + tabId + "'] span").removeClass("bg-danger");
  				$("a[href$= '" + tabId + "'] span").addClass("bg-success");
  				$("a[href$= '" + tabId + "'] span").text(inputName.length);
  			}
  		});
  	}

  	function showHidePreviousNextButton() {
  		let tabId = $('.list-group-item-action.active').attr("id");

  		if(tabId == "faq-list") {
  			$(".previous").css({display: 'none'});
  			$(".next").css({display: 'none'});
  		} else {
  			$(".previous").css({display: 'block'});
  			$(".next").css({display: 'block'});
  		}
  	}
	$(".choice").click(function () {
		submitButtonEnabledDisabled();
	});
  	function submitButtonEnabledDisabled() {
  		let inputName = [];
  		let checkCount = 0;

  		$("#provide_data_form").find('.choice').each(function () {
  			if((!inputName.includes($(this).attr("name")) && ($(this).attr("type") == 'radio'))) {
  				inputName.push($(this).attr("name"));
  			}
  		});

  		for(let i = 0; i < inputName.length; i++) {
  			$("input[name=" + inputName[i] + "]:checked").each(function() {
  				checkCount += 1;
  			});
  		}
		$('#editAssessmentPageCheck').text(inputName.length)
  		if(checkCount == inputName.length) {
  			$(".submit_assessment").removeAttr('disabled');
  		} else {
  			$(".submit_assessment").attr('disabled','disabled');
  		}
  	}

  	function saveAssessment(toDo) {
		$('.clear_data').removeClass("disabled")
  		//if (current_question) {
  			//var aspectName = $("#" + current_question).parent().attr("data-column");
  			let userAnswers = {};
  			$(".answerChangeCheck" + " :input").each(function () {
  				let fieldName = $(this).attr('name');
  				let fieldType = $(this).attr('type');
  				let fieldValue = "";
  				if (fieldType === "checkbox") {
  					if (this.checked) {
  						fieldValue = $(this).val();
  					} else {
  						fieldValue = "";
  					}
  				} else if (fieldType === "radio") {
  					if (this.checked) {
  						fieldValue = $(this).val();
  					} else {
  						return;
  					}
  				} else {
  					fieldValue = $(this).val() || "";
  				}
  				userAnswers[fieldName] = fieldValue;
  			});

  			let formData = new FormData();
  			formData.append('user_answers', JSON.stringify(userAnswers));
  			//formData.append('aspect_name', aspectName);

  			$.ajax({
  				type: "POST",
  				url: "/company_user/save_peerbenchmark_assessment",
  				beforeSend: function (xhr) {
  				xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
  				},
  				data: formData,
  				success: function () {
  					if(toDo === "fetchAnswer"){
  						fetchAspectAnswers();
  					} else if(toDo === "alert"){
  						toastr.success('Saved successfully');
  						fetchAspectAnswers();
  					} else if(toDo === "submit"){
  						submitAssessment();
  					} else if(toDo === "run_analytics"){
  						toastr.success('Saved successfully');
						window.location.href = '/company_user/analytics_graph?showAlert=true&total='+$('#editAssessmentPageCheck').text()+'';
  					}
  				},
  				error: function(xhr) {
  						clearInterval(autoSaveInterval);
  						toastr.error(xhr.responseJSON ? (xhr.responseJSON.error ? xhr.responseJSON.error : 'Something went wrong...') : 'Something went wrong...');
  						setTimeout(function () {
  							window.location.replace('peer_benchmarking_path')
  						}, 1000);
  				},
  				cache: false,
  				contentType: false,
  				processData: false
  			});
  		//} else {
  			if(toDo === 'submit'){
  				submitAssessment();
  			} else if(toDo === "run_analytics"){
			  //window.location.href = '/company_user/analytics_graph?showAlert=true&total='+$('#editAssessmentPageCheck').text()+'';
			} else {
  				//fetchAspectAnswers();
  			}
  		//}
  	}

  	function submitAssessment() {
  			$.ajax({
  				type: "POST",
  				url: "/company_user/submit_assessment",
  				data: new FormData(),
  				success: function () {
  						$("#modalSubmit").modal('hide');
  						clearInterval(autoSaveInterval);
  						toastr.success('Assessment Submitted Successfully');
  						setTimeout(function () {
  							window.location.replace('dashboard')
  						}, 1000);
  				},
  				error: function (error) {
  					console.log(error);
  				},
  				cache: false,
  				contentType: false,
  				processData: false
  			});
  		}
	$('.clear_data').click(function() {
		$('#confirmClearButton').data('user-id', "<%= current_user.id %>");
		$('#clearConfirmationModal').removeClass('d-none');
		$('#clearConfirmationModal').modal('show');
	});

	$('#confirmClearButton').click(function() {
      var userId = $(this).data('user-id');
      $.ajax({
        type: "DELETE",
        url: "/company_user/delete_peer_benchmark_answer",
		data: {route: 'Dashboard'},
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function (result) {
          $('#deleteConfirmationModal').modal('hide');
		  $('#clearConfirmationModal').modal('hide');
		  window.location.href = '<%= peer_benchmark_assessment_path %>';
        }
      });
    });

	$(document).on('keypress', function(e) {
		if (e.which === 13) {
			e.preventDefault();
			return false;
		}
    });

	$('#runAnalytics_download').on('click', function() {
		saveAssessmentCheck('run_analytics')
	});

	$('#pb_13_No_LCA_conducted').on('click', function() {
        // Uncheck the checkboxes
        $('#pb_13_suboption_checkbox1').prop('checked', false);
        $('#pb_13_suboption_checkbox2').prop('checked', false);
        $('#pb_13_option_checkbox2').prop('checked', false);
        $('.pb_13_suboption_checkbox1').addClass('d-none');
		$('.pb_13_suboption_checkbox2').addClass('d-none');
        // Clear the input boxes
        $('#pb_13_percentage_1').val('');
        $('#pb_13_percentage_2').val('');
    });
	$('#pb_13_Indicator_is_not_relevant_for_the_industry').on('click', function() {
        // Uncheck the checkboxes
        $('#pb_13_suboption_checkbox1').prop('checked', false);
        $('#pb_13_suboption_checkbox2').prop('checked', false);
        $('#pb_13_option_checkbox2').prop('checked', false);
        $('.pb_13_suboption_checkbox1').addClass('d-none');
		$('.pb_13_suboption_checkbox2').addClass('d-none');
        // Clear the input boxes
        $('#pb_13_percentage_1').val('');
        $('#pb_13_percentage_2').val('');
    });
	$('#pb_13_No_information').on('click', function() {
        // Uncheck the checkboxes
       	$('#pb_13_suboption_checkbox1').prop('checked', false);
        $('#pb_13_suboption_checkbox2').prop('checked', false);
        $('#pb_13_option_checkbox2').prop('checked', false);
        $('.pb_13_suboption_checkbox1').addClass('d-none');
		$('.pb_13_suboption_checkbox2').addClass('d-none');
        // Clear the input boxes
        $('#pb_13_percentage_1').val('');
        $('#pb_13_percentage_2').val('');
    });
  });
</script>