<table class="table table-hover">
  <thead class="sticky-top" style="background-color:#fff;">
  <tr class="text-nowrap">
    <th class="text-center">ISIN</th>
    <th>Company Name</th>
    <th class="text-center">Sector</th>
    <th class="text-center">Admin Approval to use data</th>       
    <th class="text-center">Recent Analytics</th>
  </tr>
  </thead>
  <tbody class="table-border-bottom-0">
  <% if company_users.length > 0 %>
    <% company_users.each do |company_user| %>
      <tr>
        <td class="text-center" title="<%= company_user.company_isin_number %>">
          <%= company_user.company_isin_number.present? ? (company_user.company_isin_number.length > 10 ? "#{company_user.company_isin_number[0, 10]}..." : company_user.company_isin_number) : '-' %>
        </td>
       <% company_name = company_user.company_name.match(/\s/) ? "break" : "no-break" %>
        <% if company_name == "break" %>
          <td class="text-wrap"><strong id="companyNameId_<%= company_user.id %>"><%= "#{company_user.company_name}" %></strong></td>
        <% else %>
          <td><strong id="companyNameId_<%= company_user.id %>"><%= "#{company_user.company_name}" %></strong></td>
        <% end %>
        <% company_sector = company_user.company_sector.match(/\s/) ? "break" : "no-break" %>
        <% if company_sector == "break" %>
          <td class="text-wrap text-center"><%= "#{company_user.company_sector}" %></td>
        <% else %>
          <td class="text-center"><%= "#{company_user.company_sector}" %></td>
        <% end %>
        <td class="text-center">
         <% data = PeerBenchmarkingAnswer.find_by(user_id: company_user.id, version: current_year) %>
          <% if data.nil? %>
            <% user = PeerBenchmarkingAnswer.where(user_id: company_user.id).order(version: :desc).first %>
          <% else %>
            <% user = PeerBenchmarkingAnswer.find_by(user_id: company_user.id, version: current_year) %>
          <% end %> 
         <% if user.admin_analytics_status == ApplicationRecord::APPROVED %>
            <span class="badge bg-success p-1" ><i class='bx bx-check fs-4'></i></span>
          <% elsif user.admin_analytics_status == ApplicationRecord::REJECTED %>
            <span class="badge bg-danger p-1"><i class='bx bx-x fs-4'></i></span>
          <% else %>
            <% company_detail = @company_existence_details[company_user.id] %>
            <% if company_detail[:company_existence][:multiple] %>
              <button type="button" value="<%= company_user.id %>" class="btn btn-xs btn-success multiple_button" data-bs-toggle="modal" data-bs-target="#modalanalyticsMultiple"><i class='bx bx-check fs-4'></i></button>
            <% elsif company_detail[:company_existence][:exists] %>
              <button type="button" value="<%= company_user.id %>" class="btn btn-xs btn-success duplicate_button" data-bs-toggle="modal" data-bs-target="#modalanalyticsDuplicate"><i class='bx bx-check fs-4'></i></button>
            <% else %>
              <button type="button" value="<%= company_user.id %>" class="btn btn-xs btn-success approve_button" data-bs-toggle="modal" data-bs-target="#modalanalyticsApprove"><i class='bx bx-check fs-4'></i></button>
            <% end %>
            <button type="button" value="<%= company_user.id %>" class="btn btn-xs btn-danger reject_button" data-bs-toggle="modal" data-bs-target="#modalanalyticsReject"><i class='bx bx-x fs-4'></i></button>
          <% end %>
        </td>
        <td class="text-center">
        <% answer = PeerBenchmarkingAnswer.find_by(user_id: company_user.id) %>
        <% if answer && answer.pdfreportfile&.attached? %>
            <%= link_to rails_blob_path(answer.pdfreportfile, disposition: "attachment"), class: "btn btn-sm btn-primary", title: "download report" do %>
                <i class="bx bxs-download" style="font-size: 1rem;margin: 0.125rem;"></i>
            <% end %>
        <% else %>
          <%= link_to "#", id: "#{company_user.id}", class: "btn btn-sm btn-primary disabled", title: "download basic report"  do %>
              <i class="bx bxs-download" style="font-size: 1rem;margin: 0.125rem;"></i>
            <% end %>
        <% end %>
        </td> 
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="9" class="text-center">No data available!</td>
    </tr>
  <% end %>
  </tbody>
</table>

