<% content_for :title, "ESG Basic Subscription: Admin Approval" %>
<% content_for :description, "Manage ESG Basic subscriptions with ease. Ensure user information is verified for basic services with our streamlined process." %>
<div class="pb-4">
		<div class="navbar-nav-right d-flex align-items-center">
			<div class="navbar-nav align-items-center">
				<div class="nav-item d-flex align-items-center">
          <div class="col-12 d-flex">
            <div class="col-3 mx-1 navbar-dropdown dropdown-user dropdown filter-width" id="dropdownFilter">
              <a class="filter-icon">
                    <input type="text" name="sector" id="sectorFilter" class="form-control cursor-pointer" value="" placeholder="Filter by Sector" style="background-color: white;" readonly>
              </a>
              <div class="dropdown-menu dropdown-menu-end filter-container">
                <%= form_tag("#") do %>
                  <div class="checkbox-list">
                    <% sector_ids_array = @sector_ids.is_a?(String) ? @sector_ids.split(',').map(&:strip) : @sector_ids %>
                    <% Sector.all.each do |sector| %>
                      <div class="form-check" style="padding: 0 0 0 2rem;">
                        <%= check_box_tag "checkbox_#{sector.sector_name}", sector.sector_name, sector_ids_array.include?(sector.sector_name), { class: "form-check-input sector-checkbox" } %>
                        <%= label_tag "checkbox_#{sector.sector_name}", sector.sector_name, { class: "form-check-label" } %>
                      </div>
                  <% end %>
                  </div>
                <% end %>
              </div> 
            </div>
            <div class="col-3 mx-1 filter-width">
              <input type="text" name="search" id="companyNameFilter" class="form-control date-filter-text" placeholder="Search by Name" value="<%= @company_name ? @company_name : "" %>">
            </div>
            <div class="col-3 mx-1 filter-width">
            <%= select_tag :selected_year, options_for_select((Date.today.year - 10..Date.today.year).to_a.reverse, @search_year), prompt: "Select Year", id: "year-picker", class: "form-control select-year-font" %>
          </div>
            <div class="col-1 mx-1" style="width: auto">
              <%= button_tag "Apply", class: "btn btn-md btn-primary", id: "apply-filter" %>
            </div>
            <div class="col-3 mx-1">
              <%= button_tag "Clear", class: "btn btn-md btn-secondary", id: "clear-filter" %>
            </div>
          </div>
				</div>
			</div>
      <ul class="navbar-nav flex-row align-items-center ms-auto">
				<li class="nav-item lh-1" style="margin-left: 10px">
					<div class="">
						<%= link_to "#{image_tag(asset_path('excel_export.png'), alt: 'Export', style: 'width: 30px; height: 30px;')} Export".html_safe, basic_export_excel_path(format: :xlsx), class: "btn btn-primary" %>
					</div>
				</li>
			</ul>
		</div>
</div>
<div class="card">
<div class="tab-content">
	<div class="table-responsive text-nowrap set-height" id="users-table">
		<%= render 'service/basic_subscription/basic_user_table', company_users: @company_users, send_company_user: @company_user_comment %>
	</div>
</div>
</div>

<div class="modal fade" id="modalAssign" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to assign?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="assign_button">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalbasicApprove" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="alert alert-danger alert-dismissible" role="alert"></div>
      <div class="modal-body">
        <p>Are you sure you want to approve?</p>
        <input type="hidden" id="approve_basic_user_id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="approve_basic_button">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalbasicReject" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="alert alert-danger alert-dismissible" role="alert"></div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label class="form-label">Reason for rejection</label>
            <textarea id="basic_reason_for_rejection" class="form-control" placeholder="Enter reason"></textarea>
            <input type="hidden" id="reject_basic_user_id">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="reject_basic_service_button">Reject</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="alert alert-danger alert-dismissible" role="alert"></div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>
        <input type="hidden" id="delete_user_id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="delete_button">Yes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditCompany" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title add-company-text">Edit Company</h5>
      </div>
      <div class="modal-body">
      <button type="button" class="btn-close float-right create-cookies" style="box-shadow: revert;position: relative; bottom: 36px; right: 15px" data-bs-dismiss="modal" aria-label="Close"></button>
        <%= form_tag(premium_user_update_details_path, multipart: true, method: :put, id: "cii_edit_premium_user") do %>
         <%= hidden_field_tag :id, nil, id: "company_user_id" %>
         <%= hidden_field_tag :from, "basics" %>
          <div class="mb-3">
            <label class="form-label">ISIN Number</label>
            <%= text_field_tag :company_isin_number, nil, class: "form-control", placeholder: "Enter company isin number" %>
            <label id="isin_error_text" class="" for="user_company_isin_number" style="display: none; color: #ff3e1d; font-size: 85%; margin-top: 0.25rem;">Company
              ISIN number already exists</label>
          </div>
          <div class="mb-3">
            <label class="form-label">Company Name <span class="text-danger fs-6">*</span></label>
            <%= text_field_tag :company_name, nil, class: "form-control mandatory-field", placeholder: "Enter company name", id: "company_name_field" %>
          </div>
          <div class="mb-3">
            <label class="form-label">Sector <span class="text-danger fs-6">*</span></label>
            <%= select_tag :company_sector, options_for_select(Sector.all.map { |sector| [sector.sector_name, sector.sector_name] }), include_blank: "Select sector", class: "form-control form-select mandatory-field" %>
          </div>
          <div class="modal-footer" style="justify-content: center !important">
            <button type="submit" class="btn btn-primary save-company" id="add_company_submit">Update</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 pagination-alignments">
    <%= will_paginate @company_users %>
</div>

<script>
  var year_value = `<%= params[:year] %>`
    $(document).on('turbolinks:load', function () {
        $(".alert-dismissible").hide();  
        $('#modalEditCompany').modal({ backdrop: 'static', keyboard: false });

        $(document).on("click", "#clear-filter", function (event) {
            event.stopPropagation();
            window.location.replace("<%= basic_subscription_path %>");
        });

        $(document).on("click", "#apply-filter", function (event) {
            event.stopPropagation();

            $(".filter-container").hide();

            applyFilter(event);
        });

        $(document).on("change", "#multi-select", function (event) {
            event.stopPropagation();

            if ($(this).is(':checked')) {
                $(".multi-select:checkbox:not(:disabled)").prop('checked', true);
            } else {
                $(".multi-select:checkbox:not(:disabled)").prop('checked', false);
            }

            getCheckedIds();
        });

        $(document).on("change", ".multi-select", function (event) {
            event.stopPropagation();

            getCheckedIds();
        });

        $(document).on("change", "#analyst_id", function (event) {
            event.stopPropagation();

            analystId = Number($(this).val());

            getCheckedIds();
        });

        $(document).on("click", ".delete_button", function (event) {
            event.stopPropagation();

            $("#delete_user_id").val(this.name);
        });

        $(document).on("click", ".approve_button", function (event) {
            event.stopPropagation();

            $("#approve_basic_user_id").val($(this).val());
        });

        $(document).on("click", ".reject_button", function (event) {
            event.stopPropagation();

            $("#reject_basic_user_id").val($(this).val());
        });

        $(document).on("click", "#assign_button", function (event) {
            event.stopPropagation();

            $.ajax({
                type: "PATCH",
                url: `/esgadmin/company_users/${analystId}/assign_analyst?company_user_id=${selectedCompanyUserIds}`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                processData: false,
                success: function (data) {
                    $("#modalAssign").hide();
                    window.location.reload();
                },
                error: function (err) {
                    $(".alert-dismissible").html("Unable to delete.").show().delay(3000).fadeOut(300);
                }
            });
        });

        $(document).on("click", "#approve_basic_button", function (event) {
            event.stopPropagation();

            let user_id = $("#approve_basic_user_id").val();
            $.ajax({
                type: "PATCH",
                url: `/service/basic_subscription/${user_id}/update_status/basics`,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                processData: false,
                success: function (data) {
                    $("#modalbasicApprove").hide();
                },
                error: function (err) {
                    $(".alert-dismissible").html("Unable to approve.").show().delay(3000).fadeOut(300);
                }
            });
        });

        $(document).on("click", "#reject_basic_service_button", function (event) {
            event.stopPropagation();

            let reason = $("#basic_reason_for_rejection").val();
            let user_id = $("#reject_basic_user_id").val();

            if (reason !== "") {
                $.ajax({
                    type: "PATCH",
                    url: `/service/basic_subscription/${user_id}/update_status/rejected?reason=${reason}`,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                    },
                    processData: false,
                    success: function (data) {
                        $("#modalbasicReject").hide();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                $(".alert-dismissible").html("Please enter reason for rejection.").show().delay(3000).fadeOut(300);
            }
        });

        
        $(document).on("click", "#delete_button", function (event) {
          event.stopPropagation();

          let user_id = $("#delete_user_id").val();

          $.ajax({
              type: "DELETE",
              url: `/service/basic_subscription/${user_id}`,
              beforeSend: function (xhr) {
                  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
              },
              processData: false,
              success: function (data) {
                  $("#modalDelete").hide();
              },
              error: function (err) {
                  $(".alert-dismissible").html("Unable to delete.").show().delay(3000).fadeOut(300);
                }
            });
        });

        function getCheckedIds() {
            let totalCheckboxes = $('.multi-select:checkbox').length;
            let checkedCheckboxes = $('.multi-select:checkbox:checked').length;
            selectedCompanyUserIds = [];

            if (totalCheckboxes == checkedCheckboxes) {
                $("#multi-select" + this.id).prop('checked', true);
            } else {
                $("#multi-select" + this.id).prop('checked', false);
            }

            if (checkedCheckboxes == 0) {
                $("#analyst_id").attr('disabled', 'disabled');
            } else {
                $("#analyst_id").removeAttr('disabled');
            }

            if (checkedCheckboxes == 0 || analystId == 0) {
                $("#assign").attr('disabled', 'disabled');
            } else {
                $("#assign").removeAttr('disabled');
            }

            $(".multi-select:checkbox:checked").each(function () {
                selectedCompanyUserIds.push(Number(this.value));
            });
        }

        function applyFilter(event) {
            event.preventDefault();

            $(".filter-container").hide();
            $("#analyst_id, #assign").attr('disabled', 'disabled');
            $("#analyst_id").val('');

            let sectorIds = [];
            let companyName = $("#companyNameFilter").val();
            let searchYear = $("#year-picker").val();
            $(".sector-checkbox:checkbox:checked").each(function () {
                sectorIds.push(this.value);
            });
            sectorIds = sectorIds.map(encodeURIComponent).join(',');
            window.location.replace("<%= basic_subscription_path %>?sector_ids="+sectorIds+"&companyName="+companyName+"&year="+searchYear)
        }

    });

    $(document).ready(function() {

        $(document).on("click", ".filter-icon", function (event) {
            event.stopPropagation();

            $(".filter-container").toggle();
        });   
    });

    if (year_value != "") {
      $('.select-year-font').css("color", "black")
    }; 

    $(document).on('click', '[data-bs-toggle="modal"]', function () {
      var userId = $(this).data('user-id');
      $('#company_user_id').val(userId);
    });

    $('#modalEditCompany').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); 
      var companyIsin = button.data('company-isin');
      var companyName = button.data('company-name');
      var companySector = button.data('company-sector');

      var modal = $(this);
      modal.find('#company_isin_number').val(companyIsin);
      modal.find('#company_name_field').val(companyName);
      modal.find('#company_sector').val(companySector).change();
    });

  $(document).ready(function() {
		$(document).on('click', function(event) {
			var $dropdown = $('#dropdownFilter');
			if (!$dropdown.is(event.target) && $dropdown.has(event.target).length === 0) {
				var $dropdownMenu = $dropdown.find('.dropdown-menu');
				if ($dropdownMenu.hasClass('show')) {
					$dropdownMenu.removeClass('show');
				}
			}
		});

		$('#sectorFilter').on('click', function(event) {
			event.stopPropagation();
			var $dropdownMenu = $('#dropdownFilter .dropdown-menu');
			$dropdownMenu.toggleClass('show');
		});
	});
</script>
