<div class="authentication-wrapper authentication-basic container-p-y">
  <div class="authentication-inner">
    <div class="card">
      <div class="card-body">
        <h4>Forgot password</h4>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mb-3" }) do |f| %>
          <%= render "shared/error_messages", resource: resource %>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Enter email" %>
          </div>
          <%= f.submit "Send reset password instructions", class: "btn btn-primary d-grid w-100" %>
        <% end %>
        <p class="text-center">
          <span>Already have an account?</span>
          <%= link_to "Sign in instead", new_user_session_path %>
        </p>
        <p class="text-center">
          <span>New on our platform?</span>
          <%= link_to "Create an account", new_user_registration_path %>
        </p>
      </div>
    </div>
  </div>
</div>
